body {
  font-family: 'Arial', sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.login-container {
  width: 50%;
  max-width: 500px;
}

.login-box {
  background: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0px 20px rgba(203, 66, 66, 0.2);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-control {
  margin-bottom: 15px;
}

.form-control input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background: rgb(232, 127, 89);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background: rgb(161, 89, 62);
}

input[type="text"],
input[type="password"] {
  outline: none;
  border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #5cb85c;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #e2dbdb;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.additional-links {
  margin-top: 20px;
  text-align: center;
}

.additional-links a {
  display: block;
  margin-bottom: 10px;
  color: rgb(85, 34, 16); /* Example link color, adjust as needed */
  text-decoration: none;
}

body {
  background-image: url('/static/images/background.jpg');
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}