.login-container {
  width: 50%;
  max-width: 500px;
}

.login-box {
  background: rgb(255, 255, 255);
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0 0px 20px rgba(203, 66, 66, 0.2);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-control {
  margin-bottom: 15px;
}

.form-control input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background: rgb(232, 127, 89);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background: rgb(161, 89, 62);
}

input[type="text"],
input[type="password"] {
  outline: none;
  border: 1px solid #ddd;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #5cb85c;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #e2dbdb;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.additional-links {
  margin-top: 20px;
  text-align: center;
}

.additional-links a {
  display: block;
  margin-bottom: 10px;
  color: rgb(85, 34, 16); /* Example link color, adjust as needed */
  text-decoration: none;
}

body {
  background-image: url('/static/images/background.jpg');
  background-size: cover; /* Cover the entire viewport */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}


.restaurant {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
}





.site-header, .site-footer {
  text-align: center;
  padding: 1em 0;
  background-color: #222;
  color: white;
}

.content {
  width: 90%;
  max-width: 800px;
  margin: 2em auto;
  padding: 1em;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.restaurant-listings {
  list-style: none;
  padding: 0;
}

.restaurant-box {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #ddd;
  display: block;
  padding: 1em;
}

.restaurant-box:last-child {
  border-bottom: none;
}

.restaurant-box:hover {
  background-color: #f5f5f5;
}

.restaurant h2 {
  margin-top: 0;
}

.description {
  color: #666;
}

.rating {
  font-weight: bold;
}

.more-details {
  color: #007bff;
  text-decoration: underline;
}
