<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    
</head>
<body>
    
    <div class="login-container">
        <div class="login-box">
            <h2>Create Account</h2>
            

            <form class = "signin-form" method="post" action="/create-business">
                <div class = "form-control" >
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                
                <div class = "form-control" >
                    <input type="text" name="email" placeholder="Email" required>
                </div>
                <div class = "form-control" >
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div class = "form-control" >
                    <input type="password" name="passwordConf" placeholder="Confirm Password" required>
                </div>
              
              <button type="submit">Create</button>
            </form>
            {% if error %}
            <div style="color: red;">{{ error }}</div>
            {% endif %}

            <div class="additional-links">
              <a href="/create-business">New business? create your page</a>
              <a href="/">Log in as user</a>
            </div>
        </div>
    </div>
</body>
</html>
